<section class="section__instagram-shots">
	<div class="container">
		<div class="instagram-shots__titles--wrapper">
			<h2 class="section__title instagram-shots__title">- Latest Instagram Shots</h2>
			<a class="instagram-shots__link" href="/">go to our instagram page -</a>
		</div>
		<div class="instagram-shots__items--wrapper">
			<div class="instagram-shots__img--wrapper">
				<img src="../img/instagramShots/insta_1.png" alt="Bicycle in the parking lot."
					class="instagram-shots__img">
			</div>
			<div class="instagram-shots__img--wrapper">
				<img src="../img/instagramShots/insta_2.png" alt="Open door with antique handle."
					class="instagram-shots__img">
			</div>
			<div class="instagram-shots__img--wrapper">
				<img src="../img/instagramShots/insta_3.png" alt="Abstract wire sculpture."
					class="instagram-shots__img">
			</div>
			<div class="instagram-shots__img--wrapper">
				<img src="../img/instagramShots/insta_4.png" alt="Old truck."
					class="instagram-shots__img">
			</div>
		</div>
	</div>
</section>
